
@{
    ViewData["Title"] = "Home";
}
@model List<BookViewModel>


<h1 class="text-center my-4">Book Store Project</h1>
<p class="fs-3 my-5">
     In this project, users can enter book name, book author and book year. Entered books can be edited and deleted. The information is saved in the SQL database. While adding a book, it is checked whether the book name exists or not.
</p>
<p class="fs-6 my-5">
    *This project is a practice project for .NET MVC. This project was created as Full-Stack. HTML, CSS and Bootstrap are used on the frontend. On the backend, SQL is used. In the project created with the Model-View-Component structure, EF Core, Migration, Model Binding, Dependency Injection, ViewModel and AutoMapper structures were used.
</p>

    


